<section class="page__cardpreview">
    <div class="card__preview">
        <div class="card__box">
            <button class="card__reset"><i class="far fa-trash-alt"></i>Reset</button>
            <div class="card__box--header">
                <div class="card__box--text">
                    <h3 class="card__name">Nombre Apellido</h3>
                    <p class="card__job-title">Front-end developer</p>
                </div>
            </div>
            <div class="card__photo js__profile-image"></div>
            <ul class="card__list">
                <li class="card__list--email item hidden">
                    <a class="card__list--icon-mail">
                        <i class="far fa-envelope image"></i>
                    </a>
                </li>
                <li class="card__list--phone item hidden">
                    <a href="" class="card__list--icon-phone">
                        <i class="fas fa-mobile-alt image"></i>
                    </a>
                </li>
                <li class="card__list--linkedin item hidden">
                    <a href="" target="__blank" class="card__list--icon-linkedin">
                        <i class="fab fa-linkedin-in image"></i>
                    </a>
                </li>
                <li class="card__list--github item hidden">
                    <a href="" target="__blank" class="card__list--icon-github">
                        <i class="fab fa-github-alt image"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>