<form class="form">
    <fieldset class="share">
        <div class="share__container">
            <div class="share__option">
                <div class="share__btn--tittle">
                    <i class="fas fa-share-alt"></i>
                    <h3 class="share__tittle">comparte</h3>
                </div>
                <div class="shareform__icon">
                 <i class="fas fa-chevron-down"></i>
            </div>
        </div>
        <div class="share__create">
            <button class="share__create--btn" type="button">
                <i></i>
                <h3></h3>
            </button>

        </div>
        
        </div>

    </fieldset>
</form>