<form class="form">
    <fieldset class="form__fill">
        <div class="fill--title">
            <div class="contain-title">
                <i class="far fa-keyboard"></i>
                <h1 class="title__h1">rellena</h1>
            </div>
            <div class="arrows">
                <i class="fas fa-chevron-down"></i>
                <i class="fas fa-chevron-up"></i>
            </div>
        </div>
        <div class="fill--inputs hidden">
            <label class="label name" for="name">Nombre completo</label>
            <input class="input name" type="text" id="name" placeholder="Ej:Sally Jill">

            <label class="label position" for="position">Puesto</label>
            <input class="input position" type="text" id="position" placeholder="Ej: Front-end ">

            <div class="button-image">
                <label class="label img" for="image">Imagen de perfil</label>
                <button class="btn" type="button" id="upload-image">Añadir imagen</button>
                <div class="square"></div>
            </div>

            <label class="label email" for="email">Email</label>
            <input class="input email" type="email" id="email" placeholder="Ej:sally-hill@gmail.com">

            <label class="label phone" for="phone">Teléfono</label>
            <input class="input phone" type="tel" id="name" placeholder="Ej:555-55-55-55">


            <label class="label linkedin" for="linkedin">Linkedin</label>
            <input class="input linkedin" type="url" id="name" placeholder="Ej:linkedin.com/in/sally.hill">

            <label class="label githun" for="github">Github</label>
            <input class="input github" type="text" id="name" placeholder="Ej:@sally-hill">


        </div>
    </fieldset>
</form>