<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>CocoLab Awesome Profile Cards</title>
  <link rel="icon" href="./catrina.png" />
  <link rel="stylesheet" href="./assets/css/main.css" />
  <script src="https://kit.fontawesome.com/1916f943e3.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="page">
    <partial src="_header.html" label="Header"></partial>
    <main class="main">
      <partial src="_cardpreview.html" label="CardPreview"></partial>
      <partial src="_formdesign.html" label="FormDesing"></partial>
      <partial src="_formfill.html" label="FormFill"></partial>
      <partial src="_formshare.html" label="FormShare"></partial>
    </main>
    <partial src="_footer.html" label="Footer"></partial>
  </div>
  <script src="assets/js/main.js"></script>
</body>

</html>