<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>CocoLab Awesome Profile Cards</title>
  <link rel="icon" href="./catrina.png" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./assets/css/main.css" />
  <script src="https://kit.fontawesome.com/1916f943e3.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="page">
    <div class="container-head-main">
      <partial src="_headerhome.html" label="Header"></partial>
      <partial src="_main.html" label="Main"></partial>
    </div>
    <partial src="_footer.html" label="Footer"></partial>
  </div>
  <script src="assets/js/main.js"></script>
</body>

</html>