.footer{
    font-family: $font-family-general;
    color:$color-brownish-grey;
    font-size: rem(14);
    border-top: 1px solid #d8d8d8;

     &__wrapper{
    display:flex;
    flex-direction: column;
    margin: 18px 41px 20px;
    height: 100%;
        @media all and (min-width:768px){
         flex-direction: row;
         align-content: center;
         justify-content: space-between;
         padding: 10px 0; 
        }
    }
    &__link{
        width: 103px;
    }
    &__logo{
        width:inherit;
    }   
}